#!/bin/bash
date=$(date +"%d-%m-%Y-%H%M")
LogFile=/config/log/postProcess.$date.log
IFS=$(echo -en "\n\b")
export LD_LIBRARY_PATH=/usr/local/lib
ts="$(basename $1)"
map="$(dirname $1)"
mp4="${ts%.*}.mp4"
mp4="$(basename $mp4)"
mkv="${ts%.*}.mkv"
mkv="$(basename $mkv)"
srt="${ts%.*}.srt"
srt="$(basename $srt)"
INPUT="$1"
TMP="$2"
exec 3>&1 1>>${LogFile} 2>&1
mediainfo --Inform="Text;subs=%Format%\n" "$INPUT" | head -c 8 >> "$INPUT".txt
source "$INPUT".txt
ccextractor "$INPUT" -o "$map/$TMP/$srt"
if [ $subs = "DVB" ] ; then
    ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -i "$INPUT" -vf 'format=nv12|vaapi,hwupload,deinterlace_vaapi' -c:v hevc_vaapi -brand mp42 -ac 2 -c:a libfdk_aac -b:a 128k -c:s copy -ignore_unknown -map 0  "$map/$TMP/$mkv"
else
    if [ -f "$map/$srt" ] && [[ $(find "$map/$srt" -type f -size +500c 2>/dev/null) ]] ; then
        ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -i "$INPUT" -i "$map/$srt" -vf 'format=nv12|vaapi,hwupload,deinterlace_vaapi' -c:v hevc_vaapi -brand mp42 -ac 2 -c:a libfdk_aac -b:a 128k -c:s mov_text -ignore_unknown -map 0  "$map/$TMP/$mp4"
    else echo "*** CCextractor couldn't find Closed Captions. No Subtitles will be added...***"
        ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -i "$INPUT" -vf 'format=nv12|vaapi,hwupload,deinterlace_vaapi' -c:v hevc_vaapi -brand mp42 -ac 2 -c:a libfdk_aac -b:a 128k -ignore_unknown -map 0  "$map/$TMP/$mp4"
    fi
fi
if [ -f "$map/$TMP/$srt" ] ; then
rm "$map/$TMP/$srt"
fi
rm "$INPUT".txt
#SEDIF
