#!/bin/bash

#----------------DONT MODIFY THIS PART----------------

date=$(date +"%d-%m-%Y-%H%M")
IFS=$(echo -en "\n\b")
export LD_LIBRARY_PATH=/usr/local/lib

INPUT="$1"
OUTPUT="$2"
INPUTSRT="$3"

LogFile=/config/log/ffmpeg/"$(basename "$INPUT" | sed 's/\.[^.]*$//')".$date.log


exec 3>&1 1>>${LogFile} 2>&1
mediainfo --Inform="Video;codec_name=%Format%" "$INPUT" | head -c 14 >> "$OUTPUT".txt
source "$OUTPUT".txt

#------------------MODIFY THIS PART-------------------

ffmpeg -hwaccel vaapi -vaapi_device /dev/dri/renderD128 -i "$INPUT" -vf 'format=nv12|vaapi,hwupload,deinterlace_vaapi' -c:v hevc_vaapi -brand mp42 -ac 2 -c:a libfdk_aac -b:a 128k -ignore_unknown -map 0 "$OUTPUT"

#----------------DONT MODIFY THIS PART----------------

rm "$OUTPUT".txt