#!/bin/bash
date=$(date +"%d-%m-%Y-%H%M")
LogFile=/config/log/postProcess.$date.log
IFS=$(echo -en "\n\b")
export LD_LIBRARY_PATH=/usr/local/lib

INPUT="$1"
OUTPUT="$2"
OUTPUTSRT="$3"

exec 3>&1 1>>${LogFile} 2>&1
mediainfo --Inform="Video;codec_name=%Format%" "$INPUT" | head -c 14 >> "$OUTPUT".txt
source "$OUTPUT".txt

if [ $codec_name = "AVC" ] ; then
ffmpeg -hwaccel cuvid -c:v h264_cuvid -deint 2 -drop_second_field 1 -surfaces 10 -i "$INPUT" -filter_complex "hwdownload,format=nv12,format=yuv420p" -c:v hevc_nvenc -rc:v vbr -rc-lookahead:v 32 -brand mp42 -c:a copy "$OUTPUT"
fi
if [ $codec_name = "MPE" ] ; then
ffmpeg -hwaccel cuvid -c:v mpeg2_cuvid -deint 2 -drop_second_field 1 -surfaces 10 -i "$INPUT" -c:v hevc_nvenc -rc vbr_hq -cq 22 -qmin 23 -qmax 21 -maxrate:v 8M -bufsize:v 8M -rc-lookahead:v 32 -c:a copy "$OUTPUT"
fi
if [ $codec_name != "AVC" ] && [ $codec_name != "MPE" ] ; then
ffmpeg -hwaccel nvdec -i "$INPUT" -c:v hevc_nvenc -rc vbr_hq -cq 22 -qmin 23 -qmax 21 -maxrate:v 8M -bufsize:v 8M -rc-lookahead:v 32 -c:a copy "$OUTPUT"
fi
rm "$OUTPUT".txt